<div class="container mt-3">
  <h1>New review</h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating %>
    <%= f.input :content %>
    <%= f.submit "Submit Review", class: "btn btn-danger" %>
  <% end %>

  <div class="col-4">
    <%= link_to restaurant_path(@restaurant), class: 'btn btn-primary mt-3' do %>
      Back to <%= @restaurant.name %>
    <% end %>
  </div>
</div>
